body{
    /*display: flex;

    align-items: center;
    justify-content: center;*/
    background: rgba(255, 255,255,0.85);
    font-family: Arial, sans-serif;
    /*margin: 0;
    padding: 0;*/

}
td{
    align-content: center;
}
h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
label {
     display: block;
     margin-bottom: 5px;
}
textarea{
    width: 80%;
    height: 40vh;
}
