body{
    /*display: flex;

    align-items: center;
    justify-content: center;*/
    background: rgba(255, 255,255,0.85);


}
label {
     display: block;
     margin-bottom: 5px;
}
textarea{
    width: 80%;
    height: 40vh;
}