body{
    /*background-image: url('https://live.staticflickr.com/65535/53360059100_4d2c9d2252_b.jpg');*/
    background-size: cover;
    /*display: revert;*/
    align-items: center;
    justify-content: center;


}
table{
    /*border: 1px solid #ddd;*/
    width: 100%;
    height: 85vh;
}
td{
    /*border: 1px solid #ddd;*/
}
#frame0{
    height: 10vh;
    width: 99vw;
}
#frame1,#frame2,#frame3{
    height: 80vh;
    width: 30vw;

}
