body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#emailList {
    list-style: none;
    padding: 0;
}

#emailList li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#emailList li:hover {
    background-color: #f9f9f9;
}

#emailContent {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
}

.icon-browner {
    color: #8B4513;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #emailList li {
    background-color: #444;
    color: #fff;
}

.dark-mode #emailContent {
    background-color: #444;
    color: #fff;
}

#toggleTheme {
    border: none;
    background: none;
    font-size: 24px; /* Adjust the size as needed */
    cursor: pointer;
    color: #333; /* Set the default color */
}

#toggleTheme:hover {
    color: #555; /* Set the color on hover */
}
