body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#emailList {
    list-style: none;
    padding: 0;
}

#emailList li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#emailList li:hover {
    background-color: #f9f9f9;
}

#emailContent {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
}